{% extends 'App/songs.html' %}
{% block content %}
<table class="table">
    <tr>
        <td>Song Title:</td>
        <td>{{current_song.song_title}}</td>
    </tr>
    <tr>
        <td>Band:</td>
        <td>{{current_song.song_band}}</td>
    </tr>
    <tr>
        <td>Album:</td>
        <td>{{current_song.song_album}}</td>
    </tr><tr>
        <td>Lyrics:</td>
        <td>{{current_song.song_lyrics}}</td>
    </tr>
    <tr>
        <td>Audio</td>
        <td>{{current_song.song_audio}}</td>
    </tr>

</table>
{% endblock %}